{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, [ssl, public_key]},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{core,
   {git, "https://github.com/exograd/erl-core.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/exograd/erl-uri.git", {branch, "master"}}},
  {mhttp,
   {git, "https://github.com/exograd/erl-mhttp.git", {branch, "master"}}},
  {json,
   {git, "https://github.com/exograd/erl-json.git", {branch, "master"}}},
  {jsv,
   {git, "https://github.com/exograd/erl-jsv.git", {branch, "master"}}},
  {yaml,
   {git, "https://github.com/exograd/erl-yaml.git", {branch, "master"}}},
  {openapi,
   {git, "https://github.com/exograd/erl-openapi.git", {branch, "master"}}}]}.
{shell, [{apps, [k8s]}]}.
